<div id="<%= dom_id alumno %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= alumno.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= alumno.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Edad:</strong>
    <%= alumno.edad %>
  </p>

</div>
